<div id="header">
  <div class="container">

    {% if site.data.header.logo.enabled %}
      <div id="logo" class="item">
        <img src="/assets/img/branding/logo.png" alt="{{ site.data.header.logo.alt }}">
      </div>
    {% endif %}

    {% if site.data.header.slogan.enabled %}
      <div id="slogan">
        {{ site.data.header.slogan.text }}
      </div>
    {% endif %}

    <nav id="navigation">
      <ul style="display: flex">
        {% for link in site.data.navigation.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

  </div>

</div>
