<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }} - {{ site.name }}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

	{% include header.html %}

	{% if page.title %}
		<h1>{{ page.title }}</h1>
	{% endif %}

	{% if site.data.gallery.enabled %}
		{% include gallery.html %}
	{% endif %}

	{% include footer.html %}

	<!-- jQuery -->
	<script type="text/javascript" src="/assets/js/plugins/jquery-3.3.1.min.js"></script>

	<!-- Masonry plugins -->
	<script type="text/javascript" src="/assets/js/plugins/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="/assets/js/masonry.js"></script>

</body>
</html>
